@import url('desktop.css');

@font-face {
    font-family: "Poppins-Regular";
    src: url("Poppins-Regular.ttf") format("ttf");
}

:root {
    --primary: #18122B;
    --darkest: #393053;
    --dark: #443C68;
    --ligth-dark: #635985;
    --white: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

