@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.header-btn {
  @apply hover:dark:bg-primary-light hover:bg-primary-dark px-2 py-3 rounded-md;
}
