@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WF Visual Sans Text';
  src: url('fonts/WFVisualSans-RegularText.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WF Visual Sans';
  src: url('fonts/WFVisualSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WF Visual Sans';
  src: url('fonts/WFVisualSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WF Visual Sans';
  src: url('fonts/WFVisualSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WF Visual Sans Text';
  src: url('fonts/WFVisualSans-SemiBoldText.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Reduced';
  src: url('fonts/Inter-SemiBold-Reduced.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Reduced';
  src: url('fonts/Inter-Regular-Reduced.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'WF Visual Sans', Arial, sans-serif;
  color: white;
}

#root {
  max-width: 1280px;
  height: 100%;
  width: 100%;
}

.group:hover .child:not(:hover) {
  opacity: 0.5;
}
