@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: theme('colors.onPrimary.light');
}

body {
  background-color: theme('colors.primary.light');
  color: theme('colors.onPrimary.light');
}

body {
  background-color: theme('colors.primary.light');
  font-family:
    'Chinese Quotes',
    'Inter var',
    'Inter',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

.text-linear-gradient {
  background: linear-gradient(
    45deg,
    theme('colors.green'),
    theme('colors.yellow')
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-linear-gradient(
    120deg,
    theme('colors.green'),
    theme('colors.yellow')
  );
  -webkit-text-fill-color: transparent;
}

.linear-bg {
  background-image: linear-gradient(
    -45deg,

    theme('colors.greenOpaque'),
    theme('colors.yellowOpaque')
  );
  filter: blur(72px);
  height: 460px;
  width: 400px;
}

.hover-color {
  transition: all 0.2s;
}

.hover-color:hover {
  color: theme('colors.green');
}

.hover-color:hover * {
  color: theme('colors.green');
}
/*
@media (prefers-color-scheme: dark) {
  * {
    color: theme('colors.onPrimary.dark');
  }

  body {
    background-color: theme('colors.primary.dark');
    color: theme('colors.onPrimary.dark');
  }
}
*/
